# Template copy of the .env file - fill in your own data and save as an ".env" file

# --- DATABASE (PostgreSQL) ---
DB_PASSWORD=your_database_password
DB_NAME=your_database_name
DB_USER=your_user_base

# --- API SECURITY (Python and .NET) ---
SHARED_API_KEY=your_secret_key_of_internal_communication

# --- OLLAMA AI MODEL ---
OLLAMA_MODEL_NAME=AI_model_name

# --- EMAIL SERVICE ---
SMTP_USER=your_email_smtp
SMTP_PASS=your_smtp_application_password

# --- SSL CERTIFICATE ---
SSL_CERT_PASSWORD=password_for_generated_pfx_certificate