@page
@{
    ViewData["Title"] = "Password Reset Confirmed";
}

<div class="text-center">
    <h2>Success!</h2>
    <p>Your password has been reset. You can now <a asp-page="./Login">login here</a>.</p>
</div>